body {
	margin-left: 10px;
	margin-right: 10px;
	font-family: sans-serif;
	text-align: left;
	background-color: black;
}

.hero {
	
	/*sizing*/
	width: 100vw;
	height: 100vh;
	margin-right: 10px;
	margin-left: 0px;
	
	/*flexbox*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	border:3px solid blue;
	
	
	/*background*/
	background-image: linear-gradient(rgba(0,0,0.1,0.1),rgba(0,0,0,0.2)),url('images/music3.jpeg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

.hero h1{
	background: blue;
	border-radius: 30px;
	background-size: 10px, 20px;
	
}

.hero .btn {
	/*position*/
	display: block;
	width: 200px;
	/*Margins and border*/
	border:3px solid aqua;
	border-radius: 30px;
	padding: 10px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	/*Text*/
	color: white;
	font-size: 1.2em;
	background-color: blue;
}

.card {
  margin: 10px;
  padding: 10px 30px 30px;
  max-width: 500px;
  text-align: center;
  background: #b0bec5;
  border:4px solid #ccc;
  border-radius: 6px;
	color: blue;
	font-size: 20px;
}
.card h2 {
	color: aqua;
	text-decoration: underline;
	text-decoration-color: red;
	text-decoration-style: wavy;
}
.card:hover{
  border-color:aqua;
}

.flex {
	display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

.hero .h2{
	color: teal;
}

.img {
	border-radius: 40px;
	justify-content: left center;
	width: 500px;
	height: 250px;
	margin-left: 10px;
	background-color: white;
	margin-top: 20px;
	margin-right: 60px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #b71c1c;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
	text-color:blue;
}

li a.active {
	color: blue;
	background-color: #f44336;
}

.active {
	background-color: #f44336;
}
	
.card2 {
	margin: 10px;
	padding: 10px 30px 30px;
	max-width: 500px;
	text-align: center;
	background:#b0bec5;
	border:4px solid #ccc;
	border-radius: 6px;
	color: blue;
	max-width:70vw;
	width:auto;
	font-size: 20px;
}

.card2 h2 {
	color: #651fff;
	text-decoration: underline ;
	text-decoration-color: red ;
	text-decoration-style: wavy;  
}

.card2:hover{
		border-color:red;
}
/* Contact Form */
* {box-sizing: border-box}

/* style the container */
.container {
	position: relative;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
input,
.btn {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
	opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
	background-color: #3B5998;
	color: white;
}

.twitter {
	background-color: #55ACEE;
	color: white;
}

.google {
	background-color: #dd4b39;
	color: white;
}

/* style the submit button */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

/* Two-column layout */
.col {
	float: left;
	width: 50%;
	margin: auto;
	padding: 0 50px;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* vertical line */
.vl {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	border: 2px solid #ddd;
	height: 175px;
}

/* text inside the vertical line */
.inner {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
	display: none;
}

/* bottom container */
.bottom-container {
	text-align: center;
	background-color: #666;
	border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
	.col {
		width: 100%;
		margin-top: 0;
	}
	/* hide the vertical line */
	.vl {
		display: none;
	}
	/* show the hidden text on small screens */
	.hide-md-lg {
		display: block;
		text-align: center;
	}
}
/* Chat Box 
{
	box-sizing: border-box;
	width: 100vw;
}

 Button used to open the chat form - fixed at the bottom of the page 
.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
}

/* The popup chat - hidden by default 
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

/* Add styles to the form container 
.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

/* Full-width textarea 
.form-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 200px;
}

/* When the textarea gets focus, do something 
.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button 
.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel button 
.form-container .cancel {
	background-color: red;
}

/* Add some hover effects to buttons 
.form-container .btn:hover, .open-button:hover {
	opacity: 1;}*/

footer{
	color: black;
	background-color: #cfd8dc;
}